<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>    
    <h2><%= tournament.name%></h2>
    <h1>Ajouter un Joueurs :</h1>
    <form action="/tournament/<%= tournament.id%>/player" method="post">
        <label for="name">Nom :</label>
        <input type="text" name="name" id="name"><br>
        <label for="age">Age :</label>
        <input type="number" name="age" id="age"><br>
        <label for="date">Jour Dispo:</label><br>
        <input type="checkbox" id="monday" name="date" value="monday">
        <label for="date">Lundi</label><br>
        <input type="checkbox" id="tuesday" name="date" value="tuesday">
        <label for="date">Mardi</label><br>
        <input type="checkbox" id="wednesday" name="date" value="wednesday">
        <label for="date">Mercredi</label><br>
        <input type="checkbox" id="thursday" name="date" value="thursday">
        <label for="date">Jeudi</label><br>
        <input type="checkbox" id="friday" name="date" value="friday">
        <label for="date">Vendredi</label><br>
        <input type="checkbox" id="saturday" name="date" value="saturday">
        <label for="date">Samedi</label><br>
        <input type="checkbox" id="sunday" name="date" value="sunday">
        <label for="date">Dimanche</label><br>

        <button type="submit">S'inscrire</button>
    </form>
</body>
