<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poule</title>
</head>
<body>
    <h1><%= tournament.name%></h1>
    <li><a href="/tournament/<%= tournament.id%>"><span><%= tournament.name%></span></a></li>

    <form>
        <label for="P1">Joueur 1:</label>
        <input id="P1" name="P1" type="number"></input>
        VS
        <label for="P2">Joueur 2:</label>
        <input id="P2" name="P2" type="number"></input>
        <button type="submit">Envoyer le score</button>
    </form>

    <!--afficher les jouers qui sont dans la pool-->
    <!--afficher les match avec un bouton pour allée saisir le score du match-->
    <!--exemple
    J1[ saisi score ] VS J2 [ saisi score ] bouton pour valide
    J3[ saisi score ] VS J4 [ saisi score ] bouton pour valide 

    ou
    
    J1 VS J2 avec bouton vers redirection vers une page pour saisir le score-->
    
</body>
</html>